cloudpickle==3.0.0
colorama==0.4.6
distlib==0.3.8
Farama-Notifications==0.0.4
filelock==3.13.1
gymnasium==0.29.1
numpy==2.1.1
pipenv==2023.11.15
platformdirs==4.1.0
tqdm==4.66.5
typing_extensions==4.12.2
virtualenv==20.25.0
